

// Sugar_Cubes Build


.t1 {
	background: #fed;
}
.t2 {
	background: #edf;
}
.t3 {
	background: #dfe;
}
.t4 {
	background: #def;
}
.t5 {
	background: #efd;
}
.t6 {
	background: #456;
}
.t7 {
	background: #564;
}
.t8 {
	background: #645;
}
.t9 {
	background: #654;
}
.t10 {
	background: #546;
}

.container {
	margin: 0 auto;
	overflow: hidden;
	max-width: $sc_grid_width;
}

.container-liner {
    margin: 0 $sc_grid_padding - $sc_gutter_width/2;
}

@each $breakpoint in $sc_breakpoints {
	@media (min-width: #{nth($breakpoint, 2)}) {

		.#{nth($breakpoint, 1)}0  { display: none; }

		@for $column from 1 through $sc_total-columns {

			.#{nth($breakpoint, 1)}#{$column} {
				float: left;
				display: block;
				box-sizing: border-box;
				padding-left: $sc_gutter_width/2;
				padding-right: $sc_gutter_width/2;
				width: $column/$sc_total_columns*100%;
			}

			.#{nth($breakpoint, 1)}#{$column}-omega {
				float: right;
				display: block;
				box-sizing: border-box;
				padding-left: $sc_gutter_width/2;
				padding-right: $sc_gutter_width/2;
				width: $column/$sc_total_columns*100%;
			}

		}
		@for $row from 1 through $sc_total_rows {

			.#{nth($breakpoint, 1)}#{$row}-beta {
				box-sizing: border-box;
				height: $row/$sc_total_rows*100%;
				padding-top: $sc_gutter_height/2;
				padding-bottom: $sc_gutter_height/2;
			}

		}
	}
}