

// Sugar_Cubes Settings


$sc_total_rows: 12;
$sc_gutter_width: 0;
$sc_grid_padding: 0;
$sc_gutter_height: 0;
$sc_total_columns: 24;
$sc_grid_width: 1170px;

$sc_breakpoints: (
	a 0px,
	b 550px,
	c 850px,
	d 1150px,
);